{% extends 'base.html' %}
{%block title%}Change Password{%endblock%}
{%block content%}

<h1>Change Password</h1>
<br/><br/>

<div class="mb-3">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <ul>
            <li>Your password cannot be too similar to your other personal information.
            <li>Your password must contain at least 8 characters.
            <li>Your password cannot be commonly used password.
            <li>Your password cannot be entirely numeric.
        </ul>
        <button class="btn btn-secondary">Change Password</button>
        <a href="{% url 'home'%}" class="btn btn-secondary">Back</a>
</div>

    
{%endblock%}